%h1 Listing Users

%table
  %tr
    %th
    %th
    %th
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
      %td= user.phone_number.cell
      %td= user.phone_number.home
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure? '}

= link_to 'New User', new_user_path
