= semantic_form_for @question do |f|
  = f.inputs do
    = f.input :title
    = f.input :body, as: :text, label: 'Question'
    = f.input :answer, as: :text
  = f.actions do
    = f.action :submit, :as => :input
